$first-color: rgba(150, 150, 150, 0.1);
$black-color: #2e2a46;
$main-color: #f94658;
$blue-color: #527aff;
$cyne-color: #4c9cf8;
$white-color: #fff;
$bg-color: #e0e0e0;
$purpure-color: #c472ed;
$darkblue-color: #6e4cf8;
