@import url('https://fonts.googleapis.com/css2?family=Allura&family=Courgette&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'base/variables';
@import 'base/buttons';
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/about';
@import 'blocks/planet';
@import 'blocks/live';
@import 'blocks/virtual';
@import 'blocks/degree';
@import 'blocks/glasses';
@import 'blocks/remote';
@import 'blocks/design';
@import 'blocks/tech';

body {
	background-color: #e0e0e0;
}
* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	transition: 1s;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	padding: 0 25px;
}

.title {
	color: $white-color;
	font-family: 'TT Interphases Pro Trl';
	font-size: 120px;
	font-style: normal;
	font-weight: 900;
	line-height: 110px; /* 91.667% */
	letter-spacing: -4.8px;
	&--red {
		color: $main-color;
	}
	&--live {
		font-size: 200px;
	}
	&--virtual {
		margin-top: 40px;
		color: $blue-color;
		font-size: 200px;
		line-height: 140px; /* 70% */
		letter-spacing: -4px;
	}
	&--degree {
		color: $purpure-color;
		font-size: 200px;
		line-height: 140px; /* 70% */
		letter-spacing: -14px;
		position: relative;
		z-index: 4;
	}
	&--design {
		color: $darkblue-color;
		font-size: 200px;
		line-height: 140px; /* 70% */
		letter-spacing: -9px;
		position: relative;
		z-index: 4;
		margin-top: 50px;
	}
}
.caption {
	color: $white-color;
	font-family: 'TT Interphases Pro Trl';
	font-size: 40px;
	font-style: normal;
	font-weight: 900;
	line-height: 41px; /* 102.5% */
	letter-spacing: -0.8px;
	text-transform: uppercase;
	&--black {
		color: $black-color;
	}
	&--blue {
		color: $blue-color;
		font-size: 47px;
		line-height: 40px;
		letter-spacing: -1.41px;
		&-r {
			letter-spacing: -0.51px;
			margin-top: 45px;
		}
	}
	&--live {
		letter-spacing: -1.2px;
	}
	&--virtual {
		color: $bg-color;
		line-height: 36px;
		letter-spacing: -1.2px;
	}
	&--degree {
		color: $black-color;
		font-weight: 900;
		line-height: 36px;
		letter-spacing: -3.4px;
	}
	&--viol {
		color: #66386f;
	}
	&--design {
		color: $black-color;
		max-width: 618px;
		letter-spacing: -1.8px;
	}
}

.subtitle {
	color: $white-color;
	font-family: 'TT Interphases Pro Mono Trl';
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 100% */
	letter-spacing: -1.6px;
	text-transform: capitalize;
	&--black-mini {
		color: $black-color;
		font-family: 'TT Interphases Pro Mono Trl';
		font-size: 22px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -1.76px;
	}
	&--live {
		fill: #fff;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: -0.4px;
		dominant-baseline: middle;
	}
	&--virtual {
		margin-top: 60px;
		color: $bg-color;
		line-height: 40px; /* 100% */
		letter-spacing: -2.4px;
		text-transform: capitalize;
		&-r {
			margin-top: 80px;
		}
	}
	&-remote {
		margin-top: 40px;
		margin-left: 180px;
	}
	&--black {
		color: $black-color;
	}
	&--margin {
		margin-left: 180px;
	}
	&--degree {
		width: fit-content;
		background-color: $bg-color;
	}
	&--design {
		fill: $bg-color;
		text-transform: uppercase;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 29.5px; /* 147.5% */
		letter-spacing: -0.4px;
		align-items: center;
	}
}

.descrition {
	color: $white-color;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: 'TT Interphases Pro Trl';
	font-size: 28px;
	font-style: normal;
	font-weight: 200;
	line-height: 30px; /* 107.143% */
	&-b {
		font-weight: 400;
	}
	&--live {
		color: $black-color;
		letter-spacing: 0.56px;
		text-shadow: none;
	}
	&--virtual {
		margin-top: 30px;
		color: $bg-color;
		letter-spacing: 0.56px;
		&-r {
			margin-top: 25px;
			font-weight: 300;
			line-height: 38px; /* 114.286% */
			letter-spacing: 0.38px;
			text-transform: uppercase;
		}
	}
	&-remote {
		position: absolute;
		right: 0;
		display: flex;
		margin-top: 80px;
		width: 827px;
		height: 175px;
		background: #8f56e4;
		align-items: center;
	}
}

.bubble {
	position: absolute;
	color: $black-color;
	font-family: 'TT Interphases Pro Trl';
	font-size: 20px;
	text-align: center;
	align-content: center;
	font-style: italic;
	letter-spacing: -1.71px;
	text-transform: uppercase;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	background-color: #e5c1c5;
	&--orange {
		background-color: #e5c1c5;
		top: 47.7px;
		right: 603.4px;
	}
	&--viollet {
		background-color: #dfd0df;
		top: 187.7px;
		right: 392.4px;
	}
	&--darkviollet {
		background-color: #c6c4d5;
		top: 89.7px;
		right: 117.4px;
	}
	&--blue {
		background-color: #b7c4e9;
		top: 372px;
		right: 193.4px;
	}
	&--pink {
		background-color: #e6c4d1;
		top: 266.7px;
		right: -66.6px;
	}
}

.partners-img {
	width: 100%; /* Логотипы будут занимать всю ширину своих ячеек */
	max-width: 150px; /* Максимальная ширина логотипа */
	height: auto;
}

@media (max-width: 1450px) {
	.descrition {
		font-size: 19px;
	}
}

@media (max-width: 1258px) {
	.title {
		font-size: 100px;
	}
}

@media (max-width: 1230px) {
	.descrition {
		font-size: 28px;
		text-align: justify;
	}
	.caption {
		font-size: 56px;
		line-height: 77px;
	}
}

@media (max-width: 1050px) {
	.title {
		font-size: 120px;
	}
}

@media (max-width: 1050px) {
	.title {
		font-size: 120px;
	}
}

@media (max-width: 700px) {
	.title {
		font-size: 100px;
	}
}

@media (max-width: 580px) {
	.title {
		font-size: 60px;
		line-height: 75px; /* 91.667% */
		letter-spacing: -1.8px;
		margin-bottom: 100px;
		text-align: center;
	}
	.partners-img {
		width: 80%; /* Логотипы будут занимать всю ширину своих ячеек */
	}
	.caption {
		font-size: 50px;
		line-height: 67px;
	}
}

@media (max-width: 460px) {
	.subtitle {
		text-align: center;
		font-size: 35px;
	}
	.caption {
		font-size: 40px;
		line-height: 47px;
	}
}

.circle {
	position: absolute;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: $blue-color;
	transition: transform 0.1s;
}

.point {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.hex-wrapper {
	position: absolute;
	right: 20px;
	top: 276px;
	display: block;
	width: 1080px;
	height: 952px;
}
.hex {
	width: 273px;
	height: 273px;
	position: relative;
	mask-image: url('../img/mask_hex.svg');
	mask-size: cover;
	-webkit-mask-image: url('../img/mask_hex.svg');
	-webkit-mask-size: cover;
	overflow: hidden;
	transition: transform 0.3s ease, filter 0.3s ease;
}

.hex1 {
	position: absolute;
	top: 37%;
}
.hex2 {
	position: absolute;
	top: 143px;
	left: 142px;
	width: 283px;
	height: 283px;
}

.hex3 {
	position: absolute;
	top: 76px;
	left: 393px;
	width: 360px;
	height: 360px;
}
.hex4 {
	position: absolute;
	top: 0px;
	left: 715px;
	width: 360px;
	height: 360px;
}

.hex5 {
	position: absolute;
	top: 360px;
	left: 242px;
	width: 360px;
	height: 360px;
}

.hex6 {
	position: absolute;
	top: 315px;
	left: 556px;
	width: 488px;
	height: 488px;
}

.hex7 {
	position: absolute;
	top: 665px;
	left: 394px;
	width: 293px;
	height: 293px;
}

.hex-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: grayscale(100%);
	transition: transform 0.3s ease, filter 0.3s ease;
}

.hex:hover .hex-img {
	transform: scale(1.1);
	filter: grayscale(0%);
}
