@import url('https://fonts.googleapis.com/css2?family=Allura&family=Courgette&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'base/variables';
@import 'base/buttons';
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/about';
@import 'blocks/planet';
@import 'blocks/live';

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	transition: 1s;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	pad: 0 50px;
}

.title {
	color: $white-color;
	font-family: 'TT Interphases Pro Trl';
	font-size: 120px;
	font-style: normal;
	font-weight: 900;
	line-height: 110px; /* 91.667% */
	letter-spacing: -4.8px;
	&--red {
		color: $second-color;
	}
	&--live {
		font-size: 200px;
	}
}
.caption {
	color: #fff;
	font-family: 'TT Interphases Pro Trl';
	font-size: 40px;
	font-style: normal;
	font-weight: 900;
	line-height: 41px; /* 102.5% */
	letter-spacing: -0.8px;
	text-transform: uppercase;
	&--black {
		color: #000000;
	}
	&--live {
		letter-spacing: -1.2px;
	}
}

.subtitle {
	color: #fff;
	font-family: 'TT Interphases Pro Mono Trl';
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 100% */
	letter-spacing: -1.6px;
	text-transform: capitalize;
	&--black-mini {
		color: #292828;
		font-family: 'TT Interphases Pro Mono Trl';
		font-size: 22px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -1.76px;
	}
	&--live {
		fill: #fff;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: -0.4px;
		dominant-baseline: middle;
	}
	&--black {
		color: #000;
	}
	&--margin {
		margin-left: 180px;
	}
}

.descrition {
	color: #fff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: 'TT Interphases Pro Trl';
	font-size: 28px;
	font-style: normal;
	font-weight: 200;
	line-height: 30px; /* 107.143% */
	&-b {
		font-weight: 400;
	}
	&--live {
		color: #2e2a46;
		letter-spacing: 0.56px;
		text-shadow: none;
	}
}

.bubble {
	position: absolute;
	color: #2e2a46;
	font-family: 'TT Interphases Pro Trl';
	font-size: 20px;
	text-align: center;
	align-content: center;
	font-style: italic;
	letter-spacing: -1.71px;
	text-transform: uppercase;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	background-color: #e5c1c5;
	&--orange {
		background-color: #e5c1c5;
		top: 47.7px;
		right: 603.4px;
	}
	&--viollet {
		background-color: #dfd0df;
		top: 187.7px;
		right: 392.4px;
	}
	&--darkviollet {
		background-color: #c6c4d5;
		top: 89.7px;
		right: 117.4px;
	}
	&--blue {
		background-color: #b7c4e9;
		top: 372px;
		right: 193.4px;
	}
	&--pink {
		background-color: #e6c4d1;
		top: 266.7px;
		right: -66.6px;
	}
}

.partners-img {
	width: 100%; /* Логотипы будут занимать всю ширину своих ячеек */
	max-width: 150px; /* Максимальная ширина логотипа */
	height: auto;
}

@media (max-width: 1450px) {
	.descrition {
		font-size: 19px;
	}
}

@media (max-width: 1258px) {
	.title {
		font-size: 100px;
	}
}

@media (max-width: 1230px) {
	.descrition {
		font-size: 28px;
		text-align: justify;
	}
	.caption {
		font-size: 56px;
		line-height: 77px;
	}
}

@media (max-width: 1050px) {
	.title {
		font-size: 120px;
	}
}

@media (max-width: 1050px) {
	.title {
		font-size: 120px;
	}
}

@media (max-width: 700px) {
	.title {
		font-size: 100px;
	}
}

@media (max-width: 580px) {
	.title {
		font-size: 60px;
		line-height: 75px; /* 91.667% */
		letter-spacing: -1.8px;
		margin-bottom: 100px;
		text-align: center;
	}
	.partners-img {
		width: 80%; /* Логотипы будут занимать всю ширину своих ячеек */
	}
	.caption {
		font-size: 50px;
		line-height: 67px;
	}
}

@media (max-width: 460px) {
	.subtitle {
		text-align: center;
		font-size: 35px;
	}
	.caption {
		font-size: 40px;
		line-height: 47px;
	}
}
