.design {
	width: 1920px;
	min-height: 1270px;
	margin: 0 auto;
	overflow: hidden;
	background-image: url('../img/poly.png');
	background-repeat: no-repeat;
	background-position: right top 240px;
	position: relative;
	margin-top: -342px;
	&__title-block {
		display: flex;
		max-width: 1615px;
	}
	&__ico {
		width: 228px;
		height: 228px;
	}
	&__content-block {
		margin-left: 195px;
		display: flex;
		flex-direction: column;
		margin-top: 95px;
	}
	&__service-block {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		margin-left: -220px;
	}
	&__service-subtitle {
		margin-top: 85px;
	}
}
