.glasses {
	position: absolute;
	left: 0;
	z-index: 2;
	top: 435px;
	transition: top 0.1s ease-out; /* Плавность */
	&__logo {
		position: absolute;
		left: 6%;
		transform: translateY(42%);
		z-index: 4;
	}
	&__text-block {
		position: absolute;
		right: -7%;
		bottom: -31%;
		transform: translateX(-50%);
		display: flex;
		gap: 40px;
		z-index: 4;
	}
	&__title {
		max-width: 466px;
		color: $purpure-color;
		font-family: 'TT Interphases Pro Mono Trl';
		font-size: 80px;
		font-style: normal;
		font-weight: 400;
		line-height: 66px; /* 82.5% */
		letter-spacing: -1.6px;
	}
	&__pole-img {
		position: absolute;
		top: 280px;
		left: 54%;
		transform: translate(-50%, -50%);
		width: 40%;
		z-index: -1;
		transition: top 0.1s ease-out; /* Плавность */
		&-hidden {
			position: absolute;
			top: 114px;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			height: 230px;
		}
	}
}
