.main {
	min-height: 1007px;
	background-image: url('../img/bg_header.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 145px;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	&__title {
		display: block;
		margin: 0;
	}
}

/* @media (max-width: 520px) {
	.main {
		padding-left: 0;
	}
} */
