.tech {
	width: 1920px;
	margin: 0 auto;
	min-height: 1892px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1893" viewBox="0 0 1920 1893" fill="none"><path d="M0.378906 140.076C0.378906 140.076 332.379 2.82386 960.379 0.917585C1588.38 -0.988693 1920.38 140.076 1920.38 140.076V1736.58C1920.38 1736.58 1520.38 1892.9 960.379 1892.9C400.379 1892.9 0.378906 1736.58 0.378906 1736.58V140.076Z" fill="%236E4CF8"/></svg>')
		no-repeat center / cover;

	&__shema {
		width: 672px;
		height: 672px;
		border: 1px solid #b9b9be;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		position: relative;
		&-text {
			color: #f94658;
			font-family: 'TT Interphases Pro Trl';
			font-size: 22.015px;
			font-weight: 800;
			line-height: 31.701px;
			letter-spacing: -0.66px;
			z-index: 2; // Текст поверх вращающихся стрелок
		}
	}
}

.arrow {
	position: absolute;
	width: 72px;
	height: 73px;
	top: 50%;
	left: 50%;
	transform-origin: center;
}
.arrow-one {
	animation: moveArrow-one 10s linear infinite;
	transform: translate(-50%, -50%) rotate(0deg) translateX(380px) rotate(180deg);
}

.arrow-two {
	animation: moveArrow-two 10s linear infinite;
	transform: translate(-50%, -50%) rotate(180deg) translateX(380px) rotate(0deg);
}

@keyframes moveArrow-one {
	0% {
		transform: translate(-50%, -50%) rotate(0deg) translateX(380px)
			rotate(180deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg) translateX(380px)
			rotate(180deg);
	}
}

@keyframes moveArrow-two {
	0% {
		transform: translate(-50%, -50%) rotate(180deg) translateX(380px)
			rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(540deg) translateX(380px)
			rotate(0deg);
	}
}
