@import '../base/variables';

.integration {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	min-height: 2320px;
	background: url('../img/bg_proj.png') no-repeat top center,
		url('../img/bg_proj2.png') no-repeat 50% 3149px;
	padding: 130px 15px 130px 15px;
	&__partners {
		margin-top: 100px;
		&-block {
			display: flex;
			gap: 55px;
			padding: 30px 0 30px 0;
			align-items: center;
		}
		&-title {
			display: block;
			width: 280px;
			color: #00040c;
			font-family: 'TT Interphases Pro Trl';
			font-size: 50px;
			font-style: normal;
			font-weight: 900;
			line-height: 37px; /* 74% */
			letter-spacing: -2px;
			align-items: center;
		}
		&-item {
			display: flex;
			flex-direction: column;
			width: 187px;
			gap: 5px;
		}
		&-logo {
			display: block;
			margin: 0 auto;
		}
		&-name {
			color: #000307;
			text-align: center;
			font-family: 'TT Interphases Pro Trl';
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 16.187px; /* 120% */
			letter-spacing: 0.27px;
			text-align: center;
		}
		&-subtitle {
			color: #000307;
			font-family: 'TT Interphases Pro Trl';
			font-size: 16px;
			font-style: normal;
			font-weight: 100;
			line-height: 14.16px;
			letter-spacing: 0.27px;
			text-align: center;
		}
	}
	&__title {
		display: block;
		width: max-content;
		margin: 0 auto; /* центрируем сам блок */
		text-align: left;
		gap: 50px;
	}
	&__round {
		position: absolute;
		display: flex;
		align-items: center; /* центр по вертикали */
		justify-content: center; /* центр по горизонтали */
		width: 290px;
		height: 290px;
		border-radius: 50%;
		background: #ff4c5e;
		color: $white-color;
		font-family: 'TT Interphases Pro Trl';
		font-size: 31.955px;
		font-style: normal;
		font-weight: 900;
		line-height: 32.754px;
		letter-spacing: -0.639px;
		text-transform: uppercase;
		padding-right: 40px;
		padding-left: 10px; /* чтобы текст не упирался в края */
		text-align: right; /* переносы строк по правому краю */
		top: 280px;
		left: 45px;
	}
	&__wrapper {
		margin-top: 70px;
		width: 100%;
		max-height: 1650px;
	}
	&__block {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}
	&__descr {
		max-width: 1203px;
		text-align: center;
		margin: 0 auto;
		color: #211d38;
		text-align: center;
		font-family: 'TT Interphases Pro Trl';
		font-size: 50px;
		font-style: normal;
		font-weight: 300;
		line-height: 50px; /* 100% */
		letter-spacing: 1px;
	}
	&__card {
		display: flex;
		flex-direction: column;
		max-width: 595px;
		height: 730px;
		padding: 20px;
		border-radius: 25px;
		&-footer {
			display: flex;
			justify-content: space-around;
			margin-top: 35px;
			&-title {
				width: 400px;
				color: #e0e0e0;
				font-family: 'TT Interphases Pro Trl';
				font-size: 80px;
				font-style: normal;
				font-weight: 900;
				line-height: 57px;
				letter-spacing: 0.8px;
				text-transform: uppercase;
				text-align: right;
			}
			&-subtitle {
				color: #e0e0e0;
				font-family: 'TT Interphases Pro Trl';
				font-size: 38px;
				font-style: normal;
				font-weight: 400;
				line-height: 38px; /* 100% */
				letter-spacing: 0.38px;
				max-width: 714px;
				&:nth-child(2) {
					width: 297px;
				}
			}
		}
		&-big {
			margin-top: 30px;
			width: 100%;
			height: 900px;
			background: url('../img/card__bg4.png') no-repeat top center;
			background-size: cover;
			border-radius: 25px;
			padding: 50px 40px;
		}
		&-post {
			display: flex;
			flex-direction: column;
			max-width: 586px;
			height: 370px;
			gap: 5px;
			&-title {
				color: #ad4cf8;
				text-align: center;
				font-family: 'TT Interphases Pro Mono Trl';
				font-size: 40px;
				font-style: normal;
				font-weight: 400;
				line-height: 40px; /* 100% */
				letter-spacing: -2.8px;
				margin-bottom: 35px;
				&--neon {
					color: #6e4cf8;
				}
				&--blue {
					color: #4c77f8;
				}
			}
			&-descr {
				width: 100%;
				display: flex;
				align-items: center;
				padding: 0 18px 0 18px;
				border-radius: 20px;
				background: #ad4cf8;
				height: 82px;
				width: 585px;
				color: #e0e0e0;
				text-align: center;
				font-family: 'TT Interphases Pro Mono Trl';
				font-size: 25px;
				font-style: normal;
				font-weight: 400;
				line-height: 30px; /* 115.385% */
				letter-spacing: -0.78px;

				&--neon {
					background: #6e4cf8;
				}
				&--blue {
					background: #4c77f8;
				}
			}
		}
		&:nth-child(1) {
			background: url('../img/card__bg1.png') no-repeat top center;
			background-size: auto 100%; // ширина авто, высота = вся высота блока
			transition: background-size 0.4s ease;
		}
		&:nth-child(2) {
			background: url('../img/card__bg2.png') no-repeat top center;
			background-size: auto 100%; // ширина авто, высота = вся высота блока
			transition: background-size 0.4s ease;
		}
		&:nth-child(3) {
			background: url('../img/card__bg3.png') no-repeat top center;
			background-size: auto 100%; // ширина авто, высота = вся высота блока
			transition: background-size 0.4s ease;
		}
		&:hover {
			cursor: pointer;
			background-size: auto 110%; // ширина авто, высота = вся высота блока
		}
		&-title {
			color: #f5f5f5;
			text-align: center;
			font-family: 'TT Interphases Pro Trl';
			font-size: 44px;
			font-style: normal;
			font-weight: 800;
			line-height: 40px; /* 90.909% */
			letter-spacing: -1.32px;
			text-transform: uppercase;
		}
		&-subtitle {
			margin: 0 auto;
			margin-top: 20px;
			margin-bottom: 50px;
			color: #f5f5f5;
			text-align: center;
			font-family: 'TT Interphases Pro Trl';
			font-size: 28px;
			font-style: normal;
			font-weight: 300;
			line-height: 30px; /* 107.143% */
			letter-spacing: 0.56px;
			max-width: 1470px;
		}
		&-second {
			&:nth-child(1) {
				background: url('../img/card__bg5.png') no-repeat top center;
				background-size: auto 100%; // ширина авто, высота = вся высота блока
				transition: background-size 0.4s ease;
			}
			&:nth-child(2) {
				background: url('../img/card__bg6.png') no-repeat top center;
				background-size: auto 100%; // ширина авто, высота = вся высота блока
				transition: background-size 0.4s ease;
			}
			&:nth-child(3) {
				background: url('../img/card__bg7.png') no-repeat top center;
				background-size: auto 100%; // ширина авто, высота = вся высота блока
				transition: background-size 0.4s ease;
			}
			&:hover {
				cursor: pointer;
				background-size: auto 110%; // ширина авто, высота = вся высота блока
			}
		}
	}
	&__project {
		padding-top: 50px;
	}
}

@media (max-width: 1919px) {
	.integration {
		width: 1440px;
		background: url(../img/bg_proj.png) no-repeat top center,
			url(../img/bg_proj2.png) no-repeat 50% 2838px;
		&__block {
			display: flex;
			justify-content: space-between;
			gap: 30px;
		}
		&__round {
			font-size: 22.955px;
			width: 240px;
			height: 240px;
			line-height: 25.754px;
			left: 115px;
		}
		&__card {
			max-width: 433px;
			max-height: 523px;
			&-title {
				font-weight: 800;
				line-height: 30px;
				font-size: 33px;
			}
			&-subtitle {
				font-size: 26px;
				font-weight: 300;
			}
			&-post-descr {
				width: 425px;
				font-size: 18px;
			}
			&-post-title {
				font-size: 36px;
			}
			&-footer {
				gap: 40px;
			}
		}
	}
}

@media (max-width: 1439px) {
	.integration {
		width: 1200px;
		background: url(../img/bg_proj.png) no-repeat top center,
			url(../img/bg_proj2.png) no-repeat 50% 2751px;
		&__block {
			display: flex;
			justify-content: space-between;
			gap: 10px;
		}
		&__round {
			left: 13px;
		}
		&__card {
			max-width: 361px;
			max-height: 433px;
			&-title {
				font-weight: 800;
				line-height: 28px;
				font-size: 26px;
			}
			&-subtitle {
				font-size: 22px;
				font-weight: 300;
				line-height: 20px;
			}
			&-post-descr {
				width: 345px;
				height: 35px;
				height: 55px;
				font-size: 15px;
				line-height: 11.747px; /* 106.794% */
				letter-spacing: -0.33px;
				border-radius: 10px;
			}
			&-post-title {
				font-size: 30px;
			}
			&-footer {
				padding-bottom: 50px;
			}
			&-footer-subtitle {
				font-size: 25px;
			}
		}
	}
}

@media (max-width: 1199px) {
	.integration {
		width: 980px;
		padding: 130px 0px 30px 0px;
		background: url(../img/bg_proj.png) no-repeat top center,
			url(../img/bg_proj2.png) no-repeat 50% 2351px;
		&__descr {
			font-size: 35px;
			font-style: normal;
			font-weight: 300;
			line-height: 40px; /* 114.286% */
			letter-spacing: 0.7px;
		}
		&__round {
			width: 184px;
			height: 184px;
			font-size: 16.559px;
			font-style: normal;
			font-weight: 900;
			line-height: 21.073px; /* 102.5% */
			letter-spacing: -0.411px;
			text-transform: uppercase;
			top: 350px;
		}
		&__block {
		}
		&__card {
			max-width: 304px;
			max-height: 366px;
			&-title {
				font-size: 22px;
				font-style: normal;
				font-weight: 800;
				line-height: 20px; /* 90.909% */
				letter-spacing: -0.66px;
				text-transform: uppercase;
			}
			&-subtitle {
				font-size: 13px;
				font-style: normal;
				font-weight: 300;
				line-height: 13.5px; /* 103.846% */
				letter-spacing: 0.26px;
			}
			&-post {
				height: 200px;
			}
			&-big {
				height: 670px;
			}
			&-post-descr {
				width: 283px;
				height: 35.602px;
				font-size: 11px;
			}
			&-post-title {
				font-size: 19px;
				line-height: 17px;
			}
			&-footer-title {
				font-size: 60px;
			}
		}
		&__partners {
			margin-top: 65px;
			&-logo {
				width: fit-content;
				height: 40px;
			}
			&-item {
				width: 180px;
			}
			&-block {
				gap: 10px;
			}
			&-title {
				width: 170px;
				font-size: 34px;
				font-style: normal;
				font-weight: 900;
				line-height: 25.693px; /* 75.567% */
				letter-spacing: -1.36px;
			}
			&-name {
				font-size: 9px;
				font-style: normal;
				font-weight: 600;
				line-height: 11.24px; /* 124.894% */
				letter-spacing: 0.18px;
			}
			&-subtitle {
				font-size: 9px;
				font-style: normal;
				font-weight: 100;
				line-height: 9.835px;
				letter-spacing: 0.18px;
			}
		}
	}
}

@media (max-width: 979px) {
	.integration {
		&__descr {
		}
		&__block {
			flex-direction: column;
			align-items: center;
		}
		&__card {
			&-title {
			}
			&-subtitle {
			}
		}
	}
}
