@import '../base/variables';

.projects {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	min-height: 1419px;
	background: url('../img/bg_proj3.png') no-repeat top center,
		url('../img/bg_proj2.png') no-repeat 50% 3149px;
	padding: 130px 15px 70px 15px;
	&__title {
		display: block;
		width: max-content;
		text-align: center;
		margin: 0 auto;
	}
	&__subtitle {
		max-width: 1300px;
		color: $white-color;
		font-family: 'TT Interphases Pro Trl';
		font-size: 34px;
		font-style: normal;
		font-weight: 300;
		line-height: 47px; /* 138.235% */
		text-transform: uppercase;
		margin-top: 50px;
	}
}

@media (max-width: 1919px) {
	.projects {
		width: 1440px;
		min-height: 1230px;
	}
}

@media (max-width: 1439px) {
	.projects {
		width: 1200px;
		background-repeat: no-repeat, no-repeat;
		background-position: center -300px, 50% 2800px;
		&__subtitle {
			font-size: 30px;
			max-width: 1100px;
		}
	}
}

@media (max-width: 1199px) {
	.projects {
		width: 980px;
		padding: 130px 0 0px 0;
		min-height: 1064px;
		&__title {
			width: 100%;
		}
		&__subtitle {
			font-size: 24px;
			font-style: normal;
			font-weight: 300;
			line-height: 36px;
			text-transform: uppercase;
		}
	}
}
