@import '../base/variables';

.project-pg {
	position: relative;
	width: 1920px;
	margin: 0 auto;
	min-height: 2250px;
	background: url('../img/1_pr.png') no-repeat top center;
	background-size: auto;
	padding: 190px 40px 70px 40px;
	&__top-block {
		display: flex;
		flex-direction: column;
		max-width: 715px;
		gap: 5px;
	}
	&__year {
		color: $white-color;
		font-family: 'TT Interphases Pro Trl';
		font-size: 24px;
		font-style: normal;
		font-weight: 300;
		line-height: 28px; /* 116.667% */
		text-transform: uppercase;
		margin-left: 5px;
	}
	&__region {
		color: $white-color;
		font-family: 'TT Interphases Pro Trl';
		font-size: 24px;
		font-style: normal;
		font-weight: 300;
		line-height: 28px; /* 116.667% */
		text-transform: uppercase;
		margin-left: 5px;
	}
	&__title {
		color: $white-color;
		font-family: 'TT Interphases Pro Trl';
		font-size: 124px;
		font-style: normal;
		font-weight: 900;
		line-height: 90px; /* 72.581% */
		letter-spacing: -11.16px;
		text-transform: uppercase;
	}
	&__center-block {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: end;
		margin-top: -200px;
	}
	&__servace {
		display: flex;
		flex-direction: column;
		margin-left: -65px;
	}
	&__player {
		width: 100%;
		max-width: 1086px; /* по желанию */
		border-radius: 12px;
		border: 3px solid $white-color;
		overflow: hidden;
	}
	&__text-block {
		margin-top: 100px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 40px;
	}
	&__text-columns {
		display: flex;
		flex-direction: column;
		max-width: 485px;
		gap: 20px;
	}
	&__text-title {
		color: $black-color;
		font-family: 'TT Interphases Pro Trl';
		font-size: 32px;
		font-style: normal;
		font-weight: 500;
		line-height: 30px; /* 93.75% */
		letter-spacing: -0.96px;
	}
	&__text-subtitle {
		color: $black-color;
		font-family: 'TT Interphases Pro Trl';
		font-size: 28px;
		font-style: normal;
		font-weight: 200;
		line-height: 30px; /* 107.143% */
		letter-spacing: 0.56px;
	}
	&__bottom-block {
		margin-top: 50px;
		margin-left: 200px;
		display: flex;
		flex-direction: row;
		gap: 50px;
		align-items: center;
	}
	&__caption {
		color: $black-color;
		font-family: 'TT Interphases Pro Trl';
		font-size: 50px;
		font-style: normal;
		font-weight: 300;
		line-height: 50px; /* 100% */
		max-width: 533px;
	}
}

.sidebar {
	display: flex;
	align-items: center;
	gap: 10px;
	&__nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
	}
	&__back {
		cursor: pointer;
		display: flex; /* делаем флекс-контейнер */
		align-items: center; /* выравнивание по вертикали */
		justify-content: space-between;
		width: 227px;
		height: 43px;
		border-radius: 53.793px;
		border: 1px solid #c3c3c3;
		background: rgba(195, 195, 195, 0);
		transition: background 0.3s ease, border-color 0.3s ease;
		padding: 12px 23px;
		&:hover {
			background: #c3c3c30e;
			svg path {
				stroke: #fff;
				transition: stroke 0.3s ease; /* белая стрелка при hover */
			}
		}
		&-text {
			color: #c3c3c3;
			text-align: center;
			-webkit-text-stroke-width: 0.45px;
			-webkit-text-stroke-color: #c3c3c3;
			font-family: 'TT Interphases Pro Trl';
			font-size: 14px;
			font-style: normal;
			font-weight: 100;
			line-height: 22.414px; /* 160.099% */
			letter-spacing: 0.56px;
		}
	}
	&__name {
		color: $cyne-color;
		font-family: 'TT Interphases Pro Trl';
		font-size: 60px;
		font-style: normal;
		font-weight: 900;
		line-height: 0; /* 233.333% */
		letter-spacing: -5.4px;
		text-transform: uppercase;
		margin-right: 45px;
	}
	&__left {
		cursor: pointer;
		display: flex; /* делаем флекс-контейнер */
		align-items: center; /* выравнивание по вертикали */
		justify-content: center;
		width: 43px;
		height: 43px;
		border-radius: 100%;
		border: 1px solid #c3c3c3;
		transition: background 0.3s ease, border-color 0.3s ease;
		&:hover {
			background: #c3c3c30e;
			svg path {
				stroke: #fff;
				transition: stroke 0.3s ease; /* белая стрелка при hover */
			}
		}
	}
	&__right {
		cursor: pointer;
		display: flex; /* делаем флекс-контейнер */
		align-items: center; /* выравнивание по вертикали */
		justify-content: center;
		width: 43px;
		height: 43px;
		border-radius: 100%;
		border: 1px solid #c3c3c3;
		transition: background 0.3s ease, border-color 0.3s ease;
		&:hover {
			background: #c3c3c30e;
			svg path {
				stroke: #fff;
				transition: stroke 0.3s ease; /* белая стрелка при hover */
			}
		}
	}
	&__non-active {
		cursor: default;
		border: 1px solid #c3c3c371;
		svg path {
			stroke: #c3c3c371;
		}
		&:hover {
			background: none;
			svg path {
				stroke: #c3c3c371;
			}
		}
	}
}

.project-second {
	background: url('../img/2_pr.png') no-repeat top center;
}
.project-three {
	background: url('../img/3_pr.png') no-repeat top center;
}

@media (max-width: 1919px) {
	.project-pg {
		width: 1440px;
		padding: 190px 35px 70px 35px;
		&__center-block {
			margin-top: -55px;
		}
		&__player {
			max-width: 720px;
		}
		&__text-columns {
			max-width: 340px;
		}
	}
}

@media (max-width: 1439px) {
	.project-pg {
		max-width: 1200px;
		padding: 190px 35px 70px 35px;
		background-position: center calc(0% - 60px);
		&__servace {
			margin-left: -190px;
		}
		&__center-block {
			align-items: start;
			margin-top: 20px;
		}
		&__player {
			margin-top: 60px;
		}
		&__text-block {
			justify-content: space-around;
		}
		&__text-columns {
			max-width: 443px;
		}
		&__bottom-block {
			justify-content: center;
			margin-left: 0;
		}
	}
}

@media (max-width: 1199px) {
	.project-pg {
		max-width: 980px;
		padding: 0;
		padding-top: 170px;
		background-position: center calc(0% - 160px);
		&__servace {
		}
		&__center-block {
		}
		&__player {
			margin-top: 50px;
			max-width: 600px;
		}
		&__text-block {
		}
		&__text-columns {
		}
		&__bottom-block {
			flex-direction: column;
		}
		&__caption {
			color: #211d38;
			font-family: 'TT Interphases Pro Trl';
			font-size: 35px;
			font-style: normal;
			font-weight: 300;
			line-height: 40px; /* 114.286% */
			max-width: 650px;
			text-align: center;
		}
	}
}

@media (max-width: 979px) {
	.project-pg {
		max-width: 710px;
		background-position: center calc(0% - 160px);
		padding-top: 120px;
		&__servace {
		}
		&__center-block {
			flex-direction: column;
			gap: 20px;
		}
		&__player {
			margin: 0 auto;
			max-width: fit-content;
		}
		&__text-block {
			margin-top: 50px;
			flex-direction: column;
		}
		&__text-columns {
			max-width: fit-content;
		}
		&__bottom-block {
		}
		&__caption {
			max-width: fit-content;
		}
	}
}

@media (max-width: 709px) {
	.project-pg {
		max-width: 430px;
		padding-bottom: 45px;
		&__servace {
		}
		&__center-block {
			flex-direction: column-reverse;
		}
		&__player {
		}
		&__text-block {
		}
		&__text-columns {
		}
		&__bottom-block {
		}
		&__caption {
			text-align: center;
		}
		&__text-subtitle {
			font-size: 24px;
			font-weight: 200;
			line-height: 26px;
			letter-spacing: 0.48px;
		}
		&__text-title {
			font-size: 28px;
			font-weight: 500;
			line-height: 27.387px; /* 97.812% */
			letter-spacing: -0.84px;
		}
		&__top-block {
			gap: 10px;
		}
		&__title {
			font-size: 60px;
			font-style: normal;
			font-weight: 800;
			line-height: 46px;
			letter-spacing: -4.2px;
			text-transform: uppercase;
		}
	}
	.sidebar {
		flex-direction: column;
		gap: 45px;
		align-items: flex-start;
		&__name {
			margin: 0 auto;
		}
	}
}
